/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

/*button*/
::-webkit-scrollbar-button {
    background: $light-color;
    border-radius: 10px;
}